*~
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
.deps
.dirstamp
/install-sh
*.la
.libs
/libtool
*.lo
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
*.o
/stamp-h1
